/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h3{
  margin:20px;
}
h6{
  text-align:center;
}
#container {
  margin-top:80px;
}
.box-with-shadow{
  background: #f9f9f9;
  border: 5px solid #f9f9f9;
  box-shadow: 0 3px 10px rgba(0,0,0,.23);
  display:inline-block;
  font-size: 1.3em;
  margin: 10px 0px 10px 0px;
  text-align:center;
}
.box-with-shadow:hover{
  cursor:hand;
  cursor:pointer;
}
.box-with-shadow.selected{
  border: 5px solid green;
  box-shadow: 0 1px 4px rgba(0,0,0,.26);
  color: green;
  font-weight:bold;
}
.calendar-day{
  border:1px solid white; 
  display: inline-block;
  height: 10px; 
  max-width:15px;
  width: 14%;
}
.calendar-day.filled{
  background-color: #eeeeee;
}
.calendar-day-head{
  display: inline-block;
  font-size: 0.7em;
  height: 10px; 
  max-width:15px;
  text-align:center;
  width: 14%;
}
.calendar-row{
  margin: 10px 0px 10px 0px;
}
.calendar-week{
  height:10px;
  text-align:left;
  max-width: 100px;
  width:100%;
}
.center-block{
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}
.hour-display{
  font-size:1.2em;
  margin: 0px 10px 0px 10px;
}
.med-width{
  padding:20px;
  width: 100px;
}
.sm-width{
  padding:10px;
  width: 50px;
}
.wide-width{
  padding:25px;
  width: 150px;
}

/*
 * REACT CALENDAR HEATMAPS
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}
