/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h3{
  margin:20px;
}
#container {
  margin-top:80px;
}
.box-with-shadow{
  background: #f9f9f9;
  border: 5px solid #f9f9f9;
  box-shadow: 0 3px 10px rgba(0,0,0,.23);
  display:inline-block;
  font-size: 1.3em;
  margin: 10px 0px 10px 0px;
  text-align:center;
}
.box-with-shadow:hover{
  cursor:hand;
  cursor:pointer;
}
.box-with-shadow.selected{
  border: 5px solid green;
  box-shadow: 0 1px 4px rgba(0,0,0,.26);
  color: green;
  font-weight:bold;
}
.hour-display{
  font-size:1.2em;
  margin: 0px 10px 0px 10px;
}
.med-width{
  padding:20px;
  width: 100px;
}
.sm-width{
  padding:10px;
  width: 50px;
}
.wide-width{
  padding:25px;
  width: 150px;
}
